@font-face {
    font-family: 'ProbaPro';
    src: url('../../assets/fonts/ProbaPro-Medium.eot') format('opentype'); 
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProbaPro';
    src: url('../../assets/fonts/ProbaPro-Medium.ttf') format('opentype'); 
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProbaPro';
    src: url('../../assets/fonts/ProbaPro-Medium.woff') format('opentype'); 
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProbaPro';
    src: url('../../assets/fonts/ProbaPro-Medium.woff2') format('opentype'); 
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProbaPro';
    src: url('../../assets/fonts/ProbaPro-SemiBold.eot') format('opentype'); 
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProbaPro';
    src: url('../../assets/fonts/ProbaPro-SemiBold.ttf') format('opentype'); 
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProbaPro';
    src: url('../../assets/fonts/ProbaPro-SemiBold.woff') format('opentype'); 
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProbaPro';
    src: url('../../assets/fonts/ProbaPro-SemiBold.woff2') format('opentype'); 
    font-weight: 600;
    font-style: normal;
}



